.Toggle {
  border: 3px solid red;
  max-width: 1000px;
  margin: 3rem auto;
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


.Toggle h1 {
  padding: 2rem;
  font-size: 5rem;
}

.Modal {
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
}

.Modal .contentModal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.Modal .contentModal h1 {
  font-size: 12rem;
  color: #fff;

}

.Modal .contentModal p {
  font-size: 12rem;
  color: #fff;
  font-size: 5rem;
  background: rgba(0, 0, 0, 0.8);
  padding: 2rem;
}

.Modal .contentModal button {
  color: #fff;
  font-size: 3rem;
  background: rgba(6, 7, 41, 0.6);
  padding: .5rem .8rem;
  margin-top: 3rem;
  width: 23rem;
  border-radius: 4rem;
}


#ToggleMainBtn {
  position: fixed;
  top: 10rem;
}