#Navbar {
  background: none;
  padding: 1.5rem 1rem;
}

.Title {
  box-shadow: 2px 3px 5px 2px #999;
  transition: 300ms ease-out;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 50vw;
  margin: 5rem auto 2rem auto;
  background: #333;
  color: #fff;
  transform: rotate(2deg);
  padding: 1rem 1.5rem;
}

.Title:hover {
  box-shadow: 2px 3px 8px 4px #999;
  transform: rotate(-1deg);
  max-width: 47vw;
}

.Title h1 {
  font-size: 4rem;
}

.Title h3 {
  font-size: 3rem;
}

.NavList {
  padding: 1rem;
  transition: all 400ms;
  display: none;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  z-index: 2;
  position: absolute;

  transform: translateX(-50%);
  width: 100%;
}

#Navbar:hover .NavList {
  display: flex;
  justify-content: center;
}

.NavList li {
  list-style: none;
}

.NavList li a {
  text-decoration: none;
  font-size: 1.8rem;
  padding: .5rem;
  text-transform: capitalize;
  color: #fff;
  background: #333;
  margin: .5rem;
  box-shadow: 1px 1px 4px 1px #999;
  transition: all 400ms;
}

.NavList li a:hover {

  box-shadow: 3px 3px 4px 3px #999;
}

.App {
  flex-grow: 1 auto;

}

.Users {
  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.Users h2 {
  font-size: 3.5rem;
  padding: 1rem 0;
  margin: 1rem 0;
}


.Users h4 {
  font-size: 2rem;
  padding: 1rem 0;
  border-bottom: 2px solid #333;
  margin-bottom: 2rem;
}

.Users h4 span {
  background: #333;
  color: #fff;
  padding: .5rem;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}

.UserItem {
  padding: 1rem;
  margin: 1rem;
  background: #333;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}

.UserItem span {
  font-size: 2rem;
  color: #fff;
  padding: 1rem;
}

.Container {
  width: 100%;
  padding: 0 .5rem;
  min-height: 60vh;
  margin: 5rem auto 0 auto;
}

.render-content {
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
  padding: 2rem;
  margin: 5rem auto;
}

.render-content .btn-group {
  display: flex;

  padding: 2rem;
}

.render-content .btn-group button {
  margin: 1rem;
}

button {
  padding: .4rem .2rem;
  width: 14rem;
  font-size: 1.7rem;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #333), color-stop(50%, #fefefe));
  background-image: linear-gradient(to right, #333 50%, #fefefe 50%);
  background-position: 0;
  background-size: 200%;
  color: #fff;
  transition: 300ms ease-in-out;
  cursor: pointer;
  text-transform: capitalize;
  border: none;
  outline: none;
  box-shadow: 1px 1px 3px 3px #999;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.4);

}

.count {
  font-size: 5rem;
  border-bottom: 2px solid #333;
}

button:hover {
  color: #333;
  box-shadow: 2px 8px 4px 3px #999;
  background-position: -100%;
}

button:active {
  position: relative;
  top: 8px;
}

.ReducerExample {
  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.ReducerExample h1 {
  font-size: 4rem;

}

.ReducerExample button {
  margin: 2rem 0;

}

.ReducerExample h3 {
  font-size: 3rem;

}

.ErrorBox {
  padding: 2rem;
}

.ErrorBox h3 {
  font-size: 2.5rem;
  color: tomato;
  text-align: center;
}

#Login {
  font-size: 4.5rem;
  text-align: center;
}

#toggle-theme {
  cursor: pointer;
  font-size: 5rem;
  position: absolute;
  top: 0;
  z-index: 5;
}

.Form {
  /* border: 2px solid #333; */
  padding: 2rem;
  display: flex;
  background: rgba(0, 0, 0, 0.3);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  box-shadow: 1px 2px 12px 2px rgb(194, 194, 194);
}

.Form .form-group {
  padding: 2rem;
  display: flex;
  justify-content: center;
  width: 60vw;
}

.form-group label {

  padding: 2rem;
  display: flex;
  flex-direction: column;
  width: 90%;
}

.form-group label span {
  font-size: 1.5rem;
  margin: 1rem 0;
  text-transform: capitalize;
}

.form-group label input {
  padding: 1.6rem .8rem;
  border: none;
  box-shadow: 1px 2px 12px 2px rgb(194, 194, 194);
  /* border-bottom: 4px solid #333; */
  font-size: 1.6rem;
  text-transform: capitalize;
  outline: none;
  transition: 200ms all;
}

.form-group label input:focus {
  border: 2px solid #333;
  box-shadow: 3px 2px 12px 6px rgb(194, 194, 194);
}

.Form button {
  margin: 3rem 0 1rem 0;
  width: 26rem;
}


.UseMemoPage {

  max-width: 1000px;
  margin: 2rem auto;
  height: 100%;
  padding: 2rem;

}

.Scrollcontent {
  padding: 2rem;
}


.Scrollcontent p {
  font-size: 2rem;
  line-height: 3rem;
  padding: 1rem;
  ;
}

@media(min-width:576px) {
  .Container {
    max-width: 540px;
  }
}

@media(min-width:768px) {
  .Container {
    max-width: 720px;
  }
}

@media(min-width:992px) {
  .Container {
    max-width: 960px;
  }
}

@media(min-width:1200px) {
  .Container {
    /* max-width: 1140px; */
    max-width: 80vw;
  }
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}